.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0px;
}
.footer__title {
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
.footer__sub-title {
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  color: #007bff;
}
.footer__sub-content {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color:  #94A3B8;
  padding: 20px 0px 10px 0px;

}
.footer__icons-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}
.footer__icon {
    width: 42px;
    height: 42px;
    margin: 0px 22px;
}