<div class="footer">
    <h2 class="footer__title">COVID19
        <span class="footer__sub-title">INDIA</span>
    </h2>
    <p class="footer__sub-content">
        we stand with everyone fighting on the front lines
    </p>
    <div class="footer__icons-container">
        <img src="https://res.cloudinary.com/djzj8lr4d/image/upload/v1716029791/Vectorgithub_gv17ln.png" alt="github" class="footer__icon" />
        <img src="https://res.cloudinary.com/djzj8lr4d/image/upload/v1716029791/instagraminstagram_uu1lzw.png" alt="instagram" class="footer__icon" />
        <img src="https://res.cloudinary.com/djzj8lr4d/image/upload/v1716029791/Twitter_bird_logo_2012_1twitter_vvldeb.png" alt="twitter" class="footer__icon" />
    </div>
</div>