<div id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [yaxis]="chartOptions.yaxis!"
      [stroke]="chartOptions.stroke!"
      [dataLabels]="chartOptions.dataLabels!"
      [grid]="chartOptions.grid!"
      [stroke]="chartOptions.stroke!"
      [title]="chartOptions.title!"
      [markers]="chartOptions.markers!"
      [legend]="chartOptions.legend!"
      [colors]="chartOptions.colors!"
    ></apx-chart>
  </div>
  