<div class="forgot-password-container">
    <mat-card>
        <ng-container *ngIf="!emailSent; else emailSentTemplate">
            <mat-card-title>Forgot Password</mat-card-title>
            <mat-card-content>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" required name="email">
                        <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('email')">
                            Please enter a valid email
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
                        Reset Password
                    </button>
                </form>
            </mat-card-content>
        </ng-container>
    </mat-card>
</div>

<ng-template #emailSentTemplate>
    <mat-card-title>Email Sent</mat-card-title>
    <mat-card-content>
        <p>An email with password reset instructions has been sent to <b>{{ forgotPasswordForm.value.email }}</b>.</p>
        <button mat-raised-button color="primary" routerLink="/auth">Back to Login</button>
    </mat-card-content>
</ng-template>